doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registration
        link(rel="stylesheet", href="styles/form.css")
    body 
        .form-container.login-container
            .form-container--inner
                .form-header.form-item
                    span.form-header--text Registration
                form.form.form-item(id="form")
                    input.form-input(name="nickname" type="text" placeholder="Nickname")
                    input.form-input(name="login" type="text" placeholder="Login")
                    input.form-input(id="password" name="password" type="password" placeholder="Password")
                    input.form-input(id="repassword" name="repassword" type="password" placeholder="Repeat password")
                    button.btn.form-submit-btn(type="submit") Register
                .notify.form-item
                .link-container.form-item
                    span.link-label Have an account?
                    a.link-text(href="/login") Login

        script(src="scripts/register.js") 
